/* css/Tasks.css */
@import "clean.css";
/* css/Tasks.css */
.tasks-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--background-color);
}

@media (min-width: 768px) {
    .tasks-container {
        flex-direction: row;
    }
}

.tasks-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .tasks-title {
        text-align: left;
    }
}

.error-message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--error-background-color);
    color: var(--error-text-color);
    border-radius: 0.375rem;
}

.task-form-container {
    width: 100%;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .task-form-container {
        width: 50%;
        padding-right: 1.5rem;
    }
}

.task-form {
    background-color: var(--card-background-color);
    padding: 2rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px var(--shadow-color);
    display: flex;
    flex-direction: column;
}

.task-input,
.task-textarea,
.task-create-button {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.task-input {
    padding: 0.75rem;
    border: 1px solid var(--input-border-color);
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

    .task-input:focus {
        border-color: var(--input-focus-ring-color);
        box-shadow: 0 0 0 3px rgba(var(--input-focus-ring-color), 0.3);
    }

.task-textarea {
    height: 100px;
    padding: 0.75rem;
    border: 1px solid var(--input-border-color);
    border-radius: 0.375rem;
    outline: none;
    transition: border-color 0.3s ease;
    resize: vertical;
    font-size: 1rem;
}

    .task-textarea:focus {
        border-color: var(--input-focus-ring-color);
        box-shadow: 0 0 0 3px rgba(var(--input-focus-ring-color), 0.3);
    }

.task-create-button {
    padding: 0.75rem;
    background-color: var(--button-background-color);
    color: #ffffff;
    font-weight: 600;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
}

    .task-create-button:hover {
        background-color: var(--button-hover-background-color);
    }

.task-list-container {
    width: 100%;
}

@media (min-width: 768px) {
    .task-list-container {
        width: 50%;
        padding-left: 1.5rem;
    }
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    padding: 1rem;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    margin-bottom: 1rem;
    max-width: 600px; /* Установите желаемую максимальную ширину */
}

.task-title,
.task-description {
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-size: 1rem;
    word-wrap: break-word; /* Или overflow-wrap: break-word; */
}

.task-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.task-delete-button {
    background-color: var(--delete-button-background-color);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
}

    .task-delete-button:hover {
        background-color: var(--delete-button-hover-background-color);
    }

.task-completed-button {
    background-color: var(--completed-button-background-color);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
}

    .task-completed-button:hover {
        background-color: var(--completed-button-hover-background-color);
    }

